.dialogContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    backdrop-filter: blur(4px);
}

.dialogContent{
    background-color: var(--dark-700);
    margin: auto;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    position: relative;
    color: var(--white);

    h2 {
        margin-top: 8px;
        margin-bottom: 16px;

    }
}

.dialogBack{
    background-color: transparent;
    border: 0;
}

.table{
    background-color: var(--dark-900);
    padding: 8px;
    border-radius: 4px;
}

.item{
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    font-size: 16px;
}

.description{
    color: #ccc;
    margin-top: 4px;
}

.buttonOrder{
    background-color: var(--green-900);
    padding: 4px 8px;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
}

.total{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
}